@font-face {
  font-family: "Akira"; /* Choose a name for your font */
  src: url("/fonts/Akira.otf"); /* Path to the TTF file */
}

:root {
  --title: rgb(200, 233, 255);
  --secondary: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background: rgb(1, 12, 102);
  background: linear-gradient(
    90deg,
    rgba(1, 12, 102, 1) 0%,
    rgba(47, 61, 168, 1) 100%
  );
}

section {
  padding: 6.25rem 12.5rem;
}

.section-title {
  font-size: 2.7rem;
  font-family: "Akira";
  color: var(--title);
  text-align: center;
  margin: 4rem;
}

nav {
  background-color: #f2f2f2;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 0.5rem;
  font-weight: bold;
  img {
    width: 15rem;
    margin-left: 1rem;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 2.5rem;
}

li {
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-family: "Akira";
}

nav li {
  transition: transform 0.3s ease-out;
  a {
    text-decoration: none;
    color: #000;
    transition: 0.15s ease-out;
  }
}

nav li:hover {
  transform: scale(1.05);
  a {
    color: #07178e;
  }
}

.main {
  height: 100vh;
  padding: 10rem;
  display: flex;
  justify-content: space-around;

  .main-image {
    /* max-width: 30%; */
  }
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: rgb(200, 233, 255);
    font-size: 1.7rem;
    font-family: "Montserrat", sans-serif;
    padding: 1.7rem;

    h1 {
      font-size: 5rem;
      margin-bottom: 7rem;
      font-family: "Akira";
    }

    p {
      /* max-width: 70%; */
      color: #f2f2f2;
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  background-color: #f2f2f2;
  width: 100%; /* Takes all available horizontal space */
  border-radius: 0.625rem;
  box-shadow: 0px 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  height: 200px;

  .text-container {
    padding: 1.25rem;
    width: 50%;

    h2 {
      color: var(--secondary);
      font-size: 3.2rem;
      text-align: center;
      margin-bottom: 0.625rem;
      font-family: "Akira", sans-serif; /* Assuming Akira font is accessible */
    }

    p {
      font-size: 1.6rem;
      text-align: center;
      font-family: "Montserrat", sans-serif; /* Assuming Akira font is accessible */
      font-weight: 800;
      letter-spacing: 0.68rem;
      color: var(--secondary);
    }
  }

  img {
    width: 25%; /* Adjust width as needed */
    height: 100%;
    object-fit: scale-down;
  }
}
.card:hover {
  transform: scale(1.04);
}

.tables {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
}

table {
  /* border-radius: 1.3rem; */
  border-collapse: collapse; /* Combine table borders */
  /* width: 100%; Make the table full width */
  background-color: var(--secondary);
  border: none;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 1.2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  transition: transform 0.2s ease-in;
}

table:hover {
  transform: scale(1.05);
}


td {
  padding: 1.25rem; /* Add padding to cells */
  /* border: 1px solid #ccc; Add borders to cells */
  text-align: center;
  /* border-radius: 1.2rem; */
  color: var(--secondary);
  height: 3rem;
}

th {
  /* background-color: #eee; Add background color to header cells */
  /* background: rgba(255, 255, 255, 0.19);
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);  */
  padding: .5rem 1rem; /* Add padding to cells */
  text-align: center;

  font-weight: bold; /* Make header text bold */
  border-radius: 0rem;
  border: none;
  color: var(--title);
}

/* Optional styling */

/* tr:nth-child(odd) {
  background-color: #f9f9f9; /* Add zebra striping */
