@import url(./brackets.css);

@font-face {
  font-family: "Akira"; /* Choose a name for your font */
  src: url("/fonts/Akira.otf"); /* Path to the TTF file */
}

::-webkit-scrollbar {
  /* width: 1rem; */
  display: none;
}

:root {
  --title: rgb(200, 233, 255);
  --secondary: #f2f2f2;
  /* font-size: 10px; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background: rgb(1, 12, 102);
  background: linear-gradient(
    90deg,
    rgba(1, 12, 102, 1) 0%,
    rgba(47, 61, 168, 1) 100%
  );
  color: var(--secondary);
  width: 100vw;
}

section {
  padding: 6.25rem 12.5rem;
}

.section-title {
  font-size: 2.7rem;
  font-family: "Akira";
  color: var(--title);
  text-align: center;
  margin: 4rem;
}

nav {
  background-color: #f2f2f2;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 0.5rem;
  font-weight: bold;
  img {
    width: 15rem;
    margin-left: 1rem;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 2.5rem;
}

li {
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-family: "Akira";
}

nav li {
  transition: transform 0.3s ease-out;
  a {
    text-decoration: none;
    color: #000;
    transition: 0.15s ease-out;
  }
}

nav li:hover {
  transform: scale(1.05);
  a {
    color: #07178e;
  }
}

.main {
  height: 100vh;
  padding: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  justify-content: center;
  align-items: center;

  

}

.main-image {
  /* max-width: 30%; */
  grid-row: 2;
  grid-column: 2;
  object-fit: none;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

.main h1 {
  color: var(--title);
  font-size: 5rem;
  margin-bottom: 2rem;
  font-family: "Akira";
  grid-column: span 2;
  grid-row: 1;
}

.main p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  /* max-width: 70%; */
  color: var(--secondary);
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
  align-items: start;
}

.match-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  background-color: #f2f2f2;
  width: 100%; /* Takes all available horizontal space */
  border-radius: 0.625rem;
  box-shadow: 0px 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  height: 200px;

  .text-container {
    padding: 1.25rem;
    width: 50%;

    h2 {
      color: var(--secondary);
      font-size: 3.2rem;
      text-align: center;
      margin-bottom: 0.625rem;
      font-family: "Akira", sans-serif; /* Assuming Akira font is accessible */
    }

    p {
      font-size: 1.6rem;
      text-align: center;
      font-family: "Montserrat", sans-serif; /* Assuming Akira font is accessible */
      font-weight: 800;
      letter-spacing: 0.68rem;
      color: var(--secondary);
    }
  }

  img {
    width: 25%; /* Adjust width as needed */
    height: 100%;
    object-fit: scale-down;
  }
}
.card:hover {
  transform: scale(1.04);
}

.tables {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
}

table {
  /* border-radius: 1.3rem; */
  border-collapse: collapse; /* Combine table borders */
  /* width: 100%; Make the table full width */
  background-color: var(--secondary);
  border: none;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 1.2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  transition: transform 0.2s ease-in;
}

table:hover {
  transform: scale(1.05);
}

td {
  padding: 1.25rem; /* Add padding to cells */
  /* border: 1px solid #ccc; Add borders to cells */
  text-align: center;
  /* border-radius: 1.2rem; */
  color: var(--secondary);
  height: 3rem;
}

th {
  padding: 1.3rem 1rem; /* Add padding to cells */
  text-align: center;

  font-weight: bold; /* Make header text bold */
  border-radius: 0rem;
  border: none;
  color: var(--title);
}

/* Optional styling */

/* tr:nth-child(odd) {
  background-color: #f9f9f9; /* Add zebra striping */

.vids {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
  iframe {
    border-radius: 1.3rem;
  }
}

.vid {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;

  gap: 2rem;
  padding: 1.2rem;
  /* background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px); */
  transition: transform 0.2s ease-in;
}

.vid h4 {
  color: var(--secondary);
  font-family: "Akira";
  text-align: center;
  font-size: 1.5rem;
}

.vid:hover {
  transform: scale(1.05);
}

.pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 7rem;
  padding: 2rem;
}
.pic {
  justify-self: center;
}

.members-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.4rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.member-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  padding: 1.1rem;
  transition: transform 0.2s ease-in;
}

.member-card img {
  border-radius: 50%;
  padding: 1.2rem;
  flex-grow: 2;
}

.member-name {
  color: var(--title);
  font-family: "Akira";
  padding: 1.1rem;
  font-size: 1.3rem;
}

.member-role {
  color: var(--secondary);
  font-family: "Montserrat";
  padding: 1.1rem;
  font-weight: bolder;
}

.member-card:hover {
  transform: scale(1.05);
}

/* 
@media (max-width: 400px) {
  
  nav {
    justify-content: center;

    ul {
      display: none;
    }
  } 

  .main {
    padding: 4rem;
    /* width: 100%; 

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5;
      grid-column: span 2;
    }

    .main-image {
      display: none;
    }
  }

  .upcoming-matches {
    padding: 0.5rem;

    .section-title {
      font-size: 1.3rem;
      padding: 3rem;
    }

    .match-cards {
      padding: 1.2rem;
      width: 100%;
    }
  }

} */

@media (max-width: 768px) {
  /* General adjustments */
  body {
    font-size: 14px; /* Adjust base font size for smaller screens */
  }

  section {
    padding: 3rem 1rem; /* Reduce padding */
  }

  .logo {
    justify-self: center;
    align-self: center;
    width: 5rem;
    object-fit: cover;
    content: url("./images/logo\ -p.png");
  }

  .section-title {
    font-size: 2rem;
    /* text-align: center; */
    margin: 3rem;
    font-family: "Akira";
  }
  nav ul li {
    display: none; /* Decrease spacing between nav items */
  }

  /* Main section adjustments */
  .main {
    padding: 5rem; /* Reduce padding */
    grid-template-columns: 1fr; /* Switch to single-column layout */
    grid-template-rows: auto auto;
  }

  .main-image {
    grid-column: 1;
    grid-row: 1;
    width: 5rem;
    height: auto; /* Adjust height as needed */
    display: none;
  }

  .main h1 {
    grid-column: 1;
    grid-row: 1;
    font-size: 2.5rem;
  }

  .main p {
    grid-column: 1;
    grid-row: 3;
    width: 100%; /* Take full width */
  }

  /* Card section adjustments */

  .card {
    width: 100%; /* Take full width */
  }

  .text-container {
    width: 100%;
    padding: 1.2rem;
  }
/* 
  .text-container h2 {
    /* font-size: 1.7rem; */
    /* padding: 1.6rem; */
    /* font-family: "Akira"; 
  } */

  .text-container p {
    font-size: 1rem;
    line-height: 2rem;
    /* font-family: "Montserrat"; */
    span {
      display: none;
    }
  }

  .card img {
    display: none;
  }

  /* Table section adjustments */
  .tables {
    grid-template-columns: 1fr; /* Switch to single-column layout */
    grid-template-rows: 1fr 1fr;
  }

  /* Videos section adjustments */
  .vids {
    flex-direction: column;
    /* Stack videos vertically */
    padding: 0.5rem;
  }

  .vid iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  /* Pictures section adjustments */
  .pics {
    grid-template-columns: minmax(auto, 1fr);
    gap: 1rem; /* Adjust grid layout */
    width: 100%;
  }
  /* .media-team {
  } */
  /* Members cards section adjustments */
  .members-cards {
    grid-template-columns: 1fr; /* Adjust grid layout */
    grid-template-rows: auto auto;
    padding: 1.7rem;
  }

  .member-card {
    width: 100%;
  }
  .member-name {
    font-size: 1.2rem;
    font-family: "Akira";
  }

  .member-role {
    font-size: 1rem;
    font-family: "Montserrat";
  }
}
